.Footer {
  border-top: 1px solid #808080;
  /* border-color: 4px, solid, red; */
  background-color: #fff;
  display: flex;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  /* position: absolute; */
  bottom: 0;
  width: 99%;
  /* defines how high the footer space is */
  /* height: 2.5rem; */
}
